* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Since the result of using the box-sizing: border-box; is so much better, many developers want all elements on their pages to work this way. */
  font-family: montserrat, sans-serif;
  /* background: lightyellow; */
}


